<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrati - Centro Nutirzionale</title>
</head>
<body>
    <main>
        <section>
            <h1>Che tipo di account vuoi creare?</h1>
            <ul>
                <li>
                    <button name="signUpNutrizionista" id="signUpNutrizionista" onclick="window.location.href='signUpNutrizionista.html'">Nutrizionista</button>
                </li>
                <li>
                    <button name="signUpCliente" id="signUpCliente" onclick="">Cliente</button>
                </li>
            </ul>
            <p>Possiedi già un account? <a href="login.html">Accedi</a></p>
        </section>
    </main>
</body>
</html>