header h1 {
  margin: 0;
}
header {
  display: flex;
  height: 60px;
  background-color: lightgray;
  justify-content: space-between;
  align-content:end;
  position: fixed; 
  left: 0;
  right: 0;
  top: 0;
  /* border-bottom: 1px solid black; */
}
.logout, .logo {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 15px;
}
.logout {
  margin-right: 15px;
}
.logout img{
  height: 40px;
}